.footer{
    display: flex;
    width: 100vw;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    font-weight: 300;
    font-size: small;
}